.sixly {
	width: 426px;
	margin: 15px auto;
	padding: 15px 15px 150px;
	border: solid white;
	border-radius: 25px;
	min-height: 100%;
}

.sixly-show-story {
	width: 426px;
	margin: 15px;
	padding: 15px 15px 60px;
	border: solid darkviolet;
	border-radius: 25px;

	position: fixed;

	top: 0;
	left: 50%;
	transform: translate(-50%, 0);

	height: calc(100% - 2 * 60px);
	background: rgba(255, 255, 255, 0.5);

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: x-large;
}

.sixly-show-story-background {
	background: #4c4c4c;
	position: fixed;
	width: 100%;
	height: 100%;
}

.sixly-logo {
	width: 35px;
	vertical-align: middle;
	margin-right: 8px;
}

.sixly-header {
	color: darkviolet;
	font-size: xx-large;
}

.sixly-user {
	float: right;
}

.sixly-stories {
	padding-top: 15px;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.sixly-story {
	align-content: center;
	text-align: center;
	word-break: normal;
}

.sixly-story-image {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: solid darkviolet;
	object-fit: cover;
}

.sixly-select-information {
	margin-top: 10px;
}

.sixly-select {
	margin-top: 5px;
}

.highlightOption {
	background-color: darkviolet !important;
}

.sixly-content {
	padding-top: 20px;
}

.sixly-ai-content {
	padding-top: 20px;
}

.sixly-footer {
	position: fixed;
	bottom: 0;

	width: 426px;
	margin: 15px 0;
	padding: 15px;
	left: 50%;
	transform: translate(-50%, 0);

	border: solid white;
	border-radius: 25px;

	background: white;
	z-index: 3;

	display: flex;
	justify-content: space-between;

	align-content: center;
	text-align: center;
}

.sixly-footer-item {
	flex-basis: 100%;
}

.sixly-footer-icon {
	height: 25px;
	margin-bottom: 5px;
}

.sixly-overlay {
	z-index: 2;
	background: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
}

.sixly-tooltip {
	margin-left: 5px;
	color: gray;
}

.react-tooltip {
	max-width: 200px !important;
	white-space: break-spaces !important;
}

.sixly-ai-message-ai {
	color: darkviolet;
}

.sixly-ai-message-human {
	color: darkviolet;
	text-align: right;
}

.sixly-ai-message {
	border-bottom: 2px solid darkviolet;
	white-space: break-spaces;
	margin-top: 15px;
}

.sixly-ai-message-message {
	width: 75%;
}

.sixly-ai-message-input-wrapper {
	position: fixed;
	bottom: 80px;

	width: 426px;
	margin: 15px 0;
	padding: 15px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 3;
}

.sixly-ai-message-input {
	width: 92%;
	border: none;
	border-bottom: 2px solid darkviolet;
	font-size: inherit;
}

.sixly-ai-message-send {
	margin-top: 5px;
	height: 25px;
}

.sixly-ai-overlay {
	z-index: 2;
	background: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 150px;
}
