.sixly-contenttile {
}

.sixly-contenttile-header {
	font-size: x-large;
}

.sixly-contenttile-image {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
	vertical-align: middle;
	margin-right: 15px;
}

.sixly-contenttile-score {
	background: darkviolet;
	color: white;
	display: inline-block;
	width: 40px;
	height: 30px;
	text-align: center;
	border-radius: 25%;
	float: right;
	margin-top: 8px;
}

.sixly-contenttile-sector {
	margin-left: 65px;
	color: gray;
}

.sixly-contenttile-chart {
	margin-top: 15px;
	margin-bottom: 15px;
}
