.sixly-contenttile {
}

.sixly-contenttile-header {
	font-size: x-large;
}

.sixly-contenttile-image {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
	vertical-align: middle;
	margin-right: 15px;
}

.sixly-contenttile-sector {
	margin-left: 65px;
	color: gray;
}

.sixly-contenttile-chart {
	margin-top: 15px;
	margin-bottom: 15px;
}
